* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;\
}

#core-header {

}

#index-header-logo {
	color: #10b5b8;
}

.index-login {
	position: absolute;
	padding-top: 55px;
	top: 0;
	right: 0;
}

.index-form {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #a0a0a0;
}

#login {
	padding: 4px;
}

.index-logo {
	font-size: 3.3em;
	text-align: center;
	font-weight: 100;
	margin: 0 0 20px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #a0a0a0;
}

#index-option-wrapper {
	margin-left: 200px;
}

.add-join-form {
	display: block;
}

.add-join-logo {
	color: #10b5b8;
}

#index-container {
	margin: 70px 0 70px 0;
}

.add-join-container {
	margin: 70px 0 70px 0;
}

.index-option {
	color: #fefefe;
	background-color: #10b5b8;
	font-size: 2em;
	border-radius: 100px;
	box-shadow: 0 3px 3px #a0a0a0;
	padding: 25px;
	margin: 25px;
}

.core-wrapper {
	margin: 0 auto;
	width: 1120px;
}

.header {
	/*border-bottom: 1px solid #a0a0a0;*/
	padding: 50px 0 50px 0;
	position: relative;
}

.section {
	padding: 20px 0 20px 0;
}

.index-form {
	display: inline-block;
}

.index-option {
	display: inline-block;
}

.footer {
	/*border-top: 1px solid #a0a0a0;*/
	padding: 20px 0 20px 0;
}

.footer p {
	display: inline;
}

/* UI... */
.core-wrapper p {
	display: inline;
}